@media only screen and (max-width: 960px) {  
	header section{
		padding:20px 20px;
	}
	
	
	#content{
		padding:30px 20px 10px;
	}
	
	.col{
		margin:0px 0px 20px;
	}

}


@media only screen and (max-width: 768px) {  

	header{
		height:auto;
		clear:both;
		overflow:auto;
	}

		header section{
			padding:20px 20px 20px;
		}

		

	#content{
		padding:20px 10px 0px !important;
	}
	
		#content .col{
			width:100%;
		}		
}


@media only screen and (max-width: 646px) {  

	header{
		height:auto;
		clear:both;
		overflow:auto;
		text-align:center;
	}
	
	header img{
		height:100px;
		margin-bottom:10px;
		display:inline-block;
	}
	
	header h1{
		display:block;
		line-height:50px !important;
		margin:0 0 20px 0 !important;
		padding:0 !important;
		font-size:4em;
	}
	
		header section{
			padding-bottom:10px;
		}

		header #quick_links .button_outer{
			clear:both;
			width:100%;
			margin-bottom:10px;
		}
		

		
	#content{
		padding:20px 10px !important;
	}

	footer span{
		max-width:60%;
	}


}
  

@media only screen and (max-width: 460px) {
	.multiplebgs header{
		background:url("../img/header.png") top right;	
	}
	
	#reg_logo {
		display: block;
		margin: 0 auto 10px auto;
	}
	header h1 {
		display: block!important;
		margin: 0 0 20px 0!important;
		line-height: 50px!important;
		
	}
	header section{
		padding:30px 10px 10px;
	}

	#content{
		padding:20px 0 10px!important;
	}
	
	#content ul {
		padding: 0 20px;
	}
	
	#content .author-links {
		padding: 0;
	}
	footer section{
		padding:0;
	}
	
	footer span{
		width:50%;
	}
	
	footer #hiring{
		right:54px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 460px) {
	.multiplebgs header{
		background:url("../img/header_2x.png") right;	
		background-size:auto 390px;
	}
}

